<!DOCTYPE html>
<html>
<head>
	<title>Registration form</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'random_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <h1>Random Word (attempt # {{request.session.attempt}})</h1>
  <div id="wordbox">
    {{random_string}}
  </div>
    <form action="/random_word" method="post">
  	{% csrf_token %}
  	<input type="submit" value="Generate">
    </form>

    <form action="/random_word/reset" method="post">
  	{% csrf_token %}
  	<input type="submit" value="Reset">
    </form>
</body>
</html>
