<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<h1>These are all my friends!</h1>
	{% for friend in all_friends %}
		<div class="result">
			<p>	
				<span>First Name:</span> {{friend['first_name']}} 
			</p>
			
			<p>	
				<span>Last Name:</span> {{friend['last_name']}}
			</p>
			
			<p>	
				<span>Occupation:</span>{{friend['occupation']}}
			</p>
			<hr>
		</div>
	{% endfor %}
	
	  <h1>Add a Friend</h1>
	  <div class="result">
	  <form action='/friends' method='POST'>
	   <p> <label for="first_name"><span>First Name:<span><input type="text" name="first_name" id="first_name"></label></p>
	   <p><label for="last_name"><span>Last Name:<span><input type="text" name="last_name" id="last_name"></label></p>
	    <p><label for="occupation"><span>Occupation:<span><input type="text" name="occupation" id="occupation"></label></p>
	    <p><input type="submit" value="Add"></p>
	  </form>
	  </div>
</body>
</html>