*{
  margin:0 auto;
  padding: 0px;
}

#wordbox{
  border: 1px solid black;
  width:300px;
  height:150px;
  background-color: cyan;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
}
h1{
  width:300px;
  height:150px;

}
form{
  width:50px;
  height:20px;
  margin-top, margin-bottom: 20px;



}
