<!DOCTYPE html>
<html>
<head>
	<title>Amadon Store</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'amadon_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>

  <div id="wrapper">
    <h1>Amadon store</h1>
    <div id="main">
      <table name="products" id="products">
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>Dojo T shirt</td>
          <td>$19.99</td>
          <form action='/amadon/buy' method='post'>
				        {% csrf_token %}
				            <td><select name='quantity'>
					                 <option value='1'>1</option>
					                 <option value='2'>2</option>
					                 <option value='3'>3</option>
				                 </select>
                    </td>
    				<td>
    					<input type="hidden" name="product_id" value='1001'>
    					<input type="submit" name="submit" value="Buy!">
    				</td>
			   </form>
        </tr>
        <tr>
          <td>Dojo Sweater</td>
          <td>$29.99</td>
          <form action='/amadon/buy' method='post'>
				        {% csrf_token %}
				            <td><select name='quantity'>
					                 <option value='1'>1</option>
					                 <option value='2'>2</option>
					                 <option value='3'>3</option>
				                 </select>
                    </td>
    				<td>
    					<input type="hidden" name="product_id" value='1002'>
    					<input type="submit" name="submit" value="Buy!">
    				</td>
			   </form>
        </tr>

        <tr>
          <td>Dojo Cup</td>
          <td>$4.99</td>
          <form action='/amadon/buy' method='post'>
				        {% csrf_token %}
				            <td><select name='quantity'>
					                 <option value='1'>1</option>
					                 <option value='2'>2</option>
					                 <option value='3'>3</option>
				                 </select>
                    </td>
    				<td>
    					<input type="hidden" name="product_id" value='1003'>
    					<input type="submit" name="submit" value="Buy!">
    				</td>
			   </form>
        </tr>

        <tr>
          <td>Algorithm Book</td>
          <td>$49.99</td>
          <form action='/amadon/buy' method='post'>
				        {% csrf_token %}
				            <td><select name='quantity'>
					                 <option value='1'>1</option>
					                 <option value='2'>2</option>
					                 <option value='3'>3</option>
				                 </select>
                    </td>
    				<td>
    					<input type="hidden" name="product_id" value='1001'>
    					<input type="submit" name="submit" value="Buy!">
    				</td>
			   </form>
        </tr>

      </table>
    </div>
  </div>
</body>
</html>
